#content {
  margin-top: 75px;
}

.art-section {
  display: block;
  max-width: 1000px;
  margin: auto;
  text-align: center;
  font-weight: 500;
  margin-bottom: 75px;
}

.art-section:last-of-type {
  margin-bottom: 0;
}

.art-header {
  margin-bottom: 50px;
  box-sizing: border-box;
}

.art-header > h2 {
  text-transform: uppercase;
}

.art-header > p {
  margin: 0;
}

.art-sub-header {
  width: 100%;
  margin: 25px 0 20px 0;
}

.art-sub-header > p {
  margin: 0;
}

.art-display {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
  margin-bottom: 75px;
}

.art-display img {
  width: 100%;
  min-height: 100px;
  min-width: 100px;
  box-sizing: border-box;
}

.art-display > div {
  box-sizing: border-box;
}

.full-image {
  width: 100%;
}

.full-image > p {
  margin-top: 30px;
}

.short-p > p {
  margin-top: 0;
}

.half-image {
  width: calc(50% - 10px);
  max-width: calc(50% - 10px);
}

.quarter-image {
  width: calc(25% - 10px);
  max-width: calc(25% - 10px);
}

@media (max-width: 700px) {
  #content {
    margin-top: 50px;
  }
}

@media (max-width: 650px) {
  .half-image {
    width: 100%;
    max-width: 100%;
  }

  .quarter-image {
    width: calc(50% - 10px);
    max-width: calc(50% - 10px);
  }
}

@media (max-width: 500px) {
  #content {
    margin-top: 40px;
  }
}
